
// Custom Styles
.nav-wrapper{
  background-color: #26A69A;
}
body {
  background: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}
#linktop {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
  color: #26A69A;
  margin-top: 1em;
}
#listbooze {
  color: black;
}
#addbevbtn {
  margin-left: 1em;
  background-color: #26A69A;
  color: white;
  font-family: Helvetica, Arial, sans-serif
}
#listbev {
  font-family: Monoton, Helvetica, Arial, sans-serif;
  margin-top: 5px;
}
h2 {
  font-family: Allura, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.container{
  padding: 1em;
}
#dryat{
  font-weight: bold;
}
